.App {
  text-align: center;
  background-color: #121213;
}

.Nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #ffffff;
  border-bottom: solid #3a3a3c 1px;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-family: "Alfa Slab One", cursive;
  font-size: x-large;
  margin-bottom: 3px;
  letter-spacing: 1px;
}

.menu-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70px;
  margin: 0;
}

.menu-right {
  display: flex;
  justify-content: flex-end;
  width: 70px;
}
